- name: Install list of packages
  apt: 
    state: present 
    update_cache: yes
    name: [
      'ruby-full'
    ]

- name: instala gemas
  gem: name={{item}} state=present user_install=no
  with_items:
    - pry
    - rspec
    - rails
    - sinatra
    - sinatra-contrib
    - yaml-model
    - rake
    - test-unit 
    - rspec
    - yard
    - bundler
    - ghedsh
    - asciidoctor
    
