- name: "Copia fichero actualiza-sistema-tag"
  copy:
    src: template/usr/local/bin/actualiza-sistema-tag
    dest: /usr/local/bin/actualiza-sistema-tag
    owner: root
    group: root
    mode: "u=rwx,g=r,o=r"


- name: "Copia fichero actualiza-sistema-onboot"
  copy:
    src: template/usr/local/bin/actualiza-sistema-onboot
    dest: /usr/local/bin/actualiza-sistema-onboot
    owner: root
    group: root
    mode: "u=rwx,g=r,o=r"

- name: Configurar servicio systemd para ejecutar el script en el arranque
  systemd:
    name: actualizasistemonboot.service  # Nombre del servicio systemd
    state: started
    enabled: yes
    daemon_reload: yes
   
    unit:
      content: |
        [Unit]
        Description=Ejecutar script en arranque
        After=network.target
        
        [Service]
        Type=simple
        ExecStart=/usr/local/bin/actualiza-sistema-onboot  # Ruta del script en el servidor
        Restart=always
        
        [Install]
        WantedBy=multi-user.target  
        